{% extends "djorg_base.html" %}
{% block content %}
{% load bootstrap4 %}

{% if bookmarks %}
<h2>Public</h2>
<ol>
  {%for bookmark in bookmarks %}
  <li><a href="{{ bookmark.url }}">{{ bookmark.name}}</a></li>
  <form method="POST">
    {% csrf_token %}
    <td><a href="/bookmarks/delete/{{ bookmark.id }}">Delete</a></td>
  </form>
  <!-- <form method="POST">
      {% csrf_token %}
      {{ form }}
      <td><a href="/bookmarks/update/{{ bookmark.id }}">Update</a></td>
  </form> -->
  {% endfor %}
</ol>
{% else %}
<p>No bookmarks available - you should add some</p>
{% endif %}


{% if personal_bookmarks %}
<h2>Personal</h2>
<ol>
  {%for bookmark in personal_bookmarks %}
  <li><a href="{{ bookmark.url }}">{{ bookmark.name}}</a></li>
  <form method="POST">
      {% csrf_token %}
      <td><a href="/bookmarks/delete/{{ bookmark.id }}">Delete</a></td>
  </form>
  {% endfor %}
</ol>
{% else %}
<p>No personal bookmarks available - you should add some</p>
{% endif %}

{% include "bookmarks/form.html" %}
{% endblock %}